/MonkeyAround/MonkeyAround/bin/
/MonkeyAround/MonkeyAround/obj/
/MonkeyAround/MonkeyAround/.config/
/MonkeyAround/MonkeyAround/@Data/bin/
/MonkeyAround/MonkeyAround/@Data/obj/
/MonkeyAround/.vs/
/MonkeyAround/MonkeyAround/MonkeyAround.csproj.user
